<div>
  <h1>*Ngif</h1>
  <input type="text" required [(ngModel)]="person.name" />
  <input type="number" required [(ngModel)]="person.age" />
  <p *ngIf="person.name === 'gay'">Gay</p>
  <p *ngIf="person.name === 'hola' && person.age === 18; else myblock">Gay</p>
  <ng-template #myblock>
    <p>bloque de else</p>
  </ng-template>
</div>
<hr />
<div>
  <h1>Ng model</h1>
  <p>Nombre {{ name }}</p>
  <input type="text" required #nameInput="ngModel" [(ngModel)]="name" />
  <p>Valid: {{ nameInput.valid }}</p>
  <input type="number" max="20" min="1" />
</div>
<hr />
<div class="container" [style.background]="fondo">
  <h1>Hola Mundo</h1>
  <button [disabled]="btn">Enviar</button>
  <button (click)="aumentar()">sumar</button>
  <p>{{ person.age }}</p>
  <button (click)="toggleBtn()">Toggle</button>
  <input type="text" (keyup)="changeName($event)" />
  <p>Nmbre{{ person.name }}</p>
  <progress max="100" [value]="person.age"></progress>
  <img width="100" [src]="img" alt="" />
</div>
